body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #800080 ;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff0000; 
  color: red; 
  padding: 2rem;
  border-radius: 10px;
}

#details {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white; 
  color: #333; 
}

#domain {
  font-weight: bold;
  color: #1e90ff; 
}

h1, h2 {
  margin: 1rem 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.taskBox {
  background-color: #ffffff; 
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: calc(33.333% - 1rem); 
  transition: transform 0.2s; 
}

.taskBox:hover {
  transform: scale(1.05); 
}

.taskBox h3 {
  margin-bottom: 0.5rem;
  color: #1e90ff; 
}

hr {
  margin: 0.5rem 0;
  border: 1px solid #ddd;
}


@media (max-width: 768px) {
  .taskBox {
    width: calc(50% - 1rem); 
  }
}

@media (max-width: 480px) {
  .taskBox {
    width: 100%; 
  }
}
